* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #F9E7E7;
    --sub-color: #2E266E;
    --regular-color: #EE5252;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--main-color);
}

header {
    .container {
        padding: 1vw 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-container {
            display: flex;

            .menu-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;
                margin-right: 40px;

                .menu-list {
                    margin-left: 30px;

                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 14px;
                    }
                }

            }

            .contact {
                a {
                    background: var(--regular-color);
                    padding: 10px 20px;
                    border-radius: 20px;
                    color: #F9E7E7;
                    font-size: 14px;
                    text-decoration: none;
                }
            }

            .close {
                display: none;
            }
        }

        .toggle {
            display: none;
        }
    }

}

main {
    #hero {
        .container {
            padding: 2vw 5vw;
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: space-between;
            align-items: center;

            .heroText {
                span {
                    color: var(--regular-color);
                    font-weight: bold;
                }

                h1 {
                    color: #2E266E;
                    font-family: Montserrat;
                    font-size: 55px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-top: 5px;
                }

                p {
                    margin-top: 10px;
                    display: flex;
                    width: 502px;
                    flex-direction: column;
                    color: rgba(30, 30, 30, 0.87);
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 25px;
                }

                button {
                    margin-top: 20px;
                    padding: 13px 25px;
                    background: var(--regular-color);
                    color: white;
                    font-size: 15px;
                    border: 0;
                    border-radius: 20px;
                    cursor: pointer;
                }
            }

            .heroImage {
                width: 100%;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

        }
    }

    .sub-showcase {
        width: 100%;
        height: 150px;
        background: var(--regular-color);
        margin-top: 2rem;

        .container {
            padding: 2vw 5vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                color: white;
                text-decoration: none;

                .sub-food {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    .image {
                        img {
                            width: 100%;
                        }
                    }

                    .text {
                        text-transform: capitalize;
                        font-size: 14px;

                        h2 {
                            color: #FFF;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: normal;
                            text-transform: uppercase;
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
    }

    #about {
        margin-top: 5rem;

        .container {
            padding: 2vw 5vw;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            align-items: center;
            gap: 50px;

            .about-image {
                img {
                    width: 90%;
                }
            }

            .about-content {
                span {
                    color: var(--regular-color);
                    font-weight: bold;
                }

                h1 {
                    color: var(--sub-color);
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    width: 80%;
                    margin-top: 5px;
                }

                p {
                    color: rgba(30, 30, 30, 0.87);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 161.4%;
                    margin-top: 2rem;
                    width: 80%;
                }

                a {
                    button {
                        margin-top: 2rem;
                        display: inline-flex;
                        padding: 13px 28px;
                        align-items: center;
                        gap: 10px;
                        border-radius: 10px;
                        background: #EE5252;
                        border: 0;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    #services {
        margin-top: 5rem;

        .container {
            padding: 2vw 5vw;

            .top {
                display: flex;
                justify-content: space-between;

                h1 {
                    color: #2E266E;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                p {
                    display: flex;
                    width: 480px;
                    flex-direction: column;
                    flex-shrink: 0;
                    color: rgba(30, 30, 30, 0.87);
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 161.4%;
                }
            }

            .services-content {
                margin-top: 2.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .service {
                    .image {
                        width: 100px;
                        height: 72px;
                        flex-shrink: 0;
                        background: #EE5252;
                    }

                    .service-text {
                        margin-top: 1rem;

                        h2 {
                            color: #2E266E;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        p {
                            display: flex;
                            width: 256px;
                            flex-direction: column;
                            color: rgba(30, 30, 30, 0.76);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 161.4%;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

    #offer {
        margin-top: 5rem;

        .container {
            padding: 2vw 5vw;
            position: relative;

            .offerImage {
                width: 90%;
                height: 500px;
                background-image: url("../images/Rectangle\ 13\ \(1\).png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-left: auto;
                position: relative;
            }

            .offer-content {
                position: absolute;
                top: 5rem;
                background: white;
                width: 400px;
                padding: 2rem;

                span {
                    color: #EE5252;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                h3 {
                    color: #2E266E;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-top: 1rem;
                }

                p{
                    color: rgba(30, 30, 30, 0.87);
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 161.4%;
                    margin-top: 1rem;
                }

                a{
                    button{
                        margin-top: 2rem;
                        display: inline-flex;
                        padding: 13px 28px;
                        align-items: center;
                        gap: 10px;
                        border-radius: 10px;
                        background: #EE5252;
                        border: 0;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media(max-width: 800px) {
    header {
        .container {
            padding: 1vw 3vw;

            .navbar-container {
                position: absolute;
                display: block;
                background: #EE5252;
                left: -100%;
                width: 100%;
                top: 0rem;
                padding-bottom: 1rem;

                .menu-container {
                    .menu-list {
                        margin-top: 2rem;

                        a {
                            color: white;
                        }
                    }

                    display: block;
                }

                .contact {
                    margin-top: 2rem;
                    margin-left: 0.6rem;
                }

                .close {
                    position: absolute;
                    color: white;
                    right: 1rem;
                    top: 1rem;
                    display: block;
                }
            }

            .toggle {
                display: block;
                font-size: 20px;
            }
        }
    }

    main {
        #hero {
            margin-top: 2rem;

            .container {
                padding: 2vw 5vw;
                display: block;

                .heroText {
                    h1 {
                        font-size: 45px;
                    }

                    p {
                        width: 100%;
                    }

                    button {
                        display: none;
                    }
                }

                .heroImage {
                    margin-top: 3rem;

                    img {
                        width: 100%;
                    }
                }
            }

        }

        #about {
            .container {
                display: block;

                .about-image {
                    img {
                        width: 100%;
                    }
                }

                .about-content {
                    margin-top: 2rem;

                    h1 {
                        width: 100%;
                    }

                    p {
                        width: 100%;
                    }
                }
            }
        }

        #services {
            .container {
                .top {
                    display: block;

                    p {
                        width: 100%;
                        margin-top: 10px;
                    }
                }

                .services-content {
                    display: block;

                    .service {
                        margin-top: 2rem;

                        .service-text {
                            p {
                                width: 100%;
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }
        }

    }

    .sub-showcase {
        .container {
            a:nth-child(2) {
                display: none;
            }
        }
    }
}

@media(max-width: 500px) {
    header {
        .container {
            padding: 2vw 5vw;
        }
    }

    main {
        #hero {
            .container {
                padding: 2vw 5vw;
            }
        }

        .sub-showcase {
            .container {
                a {
                    padding-top: 1rem;

                    br {
                        display: none;
                    }
                }

                a:nth-child(2) {
                    display: none;
                }
            }
        }

        #offer{
            .container{
                padding: 0;
                .offerImage{
                    width: 100%;
                    height: 500px;
                }

                .offer-content{
                    top: 2rem;
                    width: 77vw;
                    left: 0.8rem;
                }
            }
        }
    }
}